name: Container
on: push

jobs:
  docker-steps:
    runs-on: ubuntu-latest
    container:
      image: node:lts-alpine
    steps:
      - name: log node version
        run: node -v
      - name: Step with docker
        uses: docker://node:18.3.0-alpine3.16
        with:
          entrypoint: /bin/echo
          args: Hello World!
      - name: Step with docker
        uses: docker://node:18.3.0-alpine3.16
        with:
          entrypoint: /usr/local/bin/node
          args: -v
  node-docker:
    runs-on: ubuntu-latest
    services:
      app:
        image: alialaa17/node-api
        ports:
          - 3001:3000
      mongo:
        image: mongo
        ports:
          - 27017:27017
    steps:
      - name: Post a user
        run: 'curl -X POST http://localhost:3001/api/user -H ''Content-Type: application/json'' -d ''{"username": "sguessou", "address": "Kantsu"}'''
      - name: Get users
        run: curl http://localhost:3001/api/users
